<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a  class="nav-link"
          [routerLink]="['/feed']"
          routerLinkActive="active"
      >
        Your Feed
      </a>
    </li>

    <li class="nav-item">
      <a  class="nav-link"
          [routerLink]="['/']"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active"
      >
        Global Feed
      </a>
    </li>

    <li class="nav-item" *ngIf="tagNameInput">
      <a class="nav-link"
         [routerLink]="['/tags', tagNameInput]"
         routerLinkActive="active"
      >
        <i class="ion-pound"></i>
        {{tagNameInput}}
      </a>
    </li>
  </ul>
</div>


