<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a [routerLink]="['/feed']" class="nav-link"  routerLinkActive="active">
        Your Feed
      </a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link" routerLinkActive="active">
        Global Feed
      </a>
    </li>

    <li class="nav-item" *ngIf="tagNameInput">
      <a [routerLink]="['/tags', 'tagNameInput']" class="nav-link" routerLinkActive="active">
        {{tagNameInput}}
      </a>
    </li>
  </ul>
</div>


