<div class="profile-page" *ngIf="userProfile">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-cs-12 col-md-10 offset-md-1" >
          <img class="user-img" [src]="userProfile.image"/>
          <h4>{{ userProfile.username }}</h4>
          <p>{{ userProfile.bio}}</p>
          <div *ngIf="(profile$ | async) as user">
            <mc-follow
              *ngIf="!user.isCurrent"
              [isFollowed]="userProfile.following"
              [followUrl]="getProfileUrl(userProfile.username)"
              [userName]="userProfile.username"
            ></mc-follow>
            <a
              class="btn btn-sm btn-outline-secondary action-btn"
              [routerLink]="['/settings']"
              *ngIf="user.isCurrent"
            >
              Edit Profile Settings
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/profiles',  userProfile.username]"
                [queryParams]="postsQueryParams.self"
                [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active"
              >{{ userProfile.username }} Posts</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/profiles',  userProfile.username, 'favorites']"
                [queryParams]="postsQueryParams.favorites"
                [routerLinkActiveOptions]="{exact: true}"
                routerLinkActive="active"
              >{{ userProfile.username }} Favorited Posts</a>
            </li>
          </ul>
        </div>
        <mc-feed [apiUrl]="getApiUrl()"></mc-feed>
      </div>
    </div>
  </div>
</div>
